.inValid-input{
    border-color: red !important;
    border-width: 0px 0px 1px 0px !important;
    border-style: solid !important;
}

.inValid-input:focus
{
    outline: none;
    border-radius: 2px;
}

.input{
    width: 100%;
    position: relative;
}

.input input
{
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    font-size: 16px;
    padding-left: 10px;
}

.input input:focus{
    border-color: rgba(0, 0, 255, 0.596);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    outline: none;
}

.btn-bar-dialog{
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.btn-bar-dialog button{
    outline: none;
    border: none;
    font-size: 14px;
    margin-top: 20px;
    padding: 4px 8px;
}

.btn-bar-dialog button + button{
    margin-left: 10px;
}

.btn-bar-dialog button:hover{
    opacity: 0.6;
}